<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>BulkReddit</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://use.fontawesome.com/f0cf4e5c18.js"></script>
		<script
		src="https://code.jquery.com/jquery-3.1.1.js"
		crossorigin="anonymous"></script>
		<script src="js/main.js"></script>
		<style>
		body {
		padding-top: 50px;
		padding-bottom: 20px;
		}
		</style>
		<link rel="stylesheet" href="css/bulma.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/animate.css">
	</head>
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div>
			<p>Built by JonLuca DeCaro. Free and open source, on <a href="https://github.com/jonluca/BulkReddit">GitHub</a></p>
		</div>
	</div>
	<div class="container">
		<h1 class="text-center" id="title">Reddit Offline Cache</h1>
		<div id="input" class="field">
			<label class="label info-label">Subreddit</label>
			<p class="control has-icons-right">
				<input class="input" type="text" placeholder="Text input" value="TalesFromTechSupport">
				<span class="icon is-small is-right">
					<i class="fa fa-check"></i>
				</span>
			</p>
			<div class="field-body dropdown">
				<div class="field" id="type">
					<label class="label info-label">Filter</label>
					<p class="control">
						<span class="select">
							<select>
								<option>Hot</option>
								<option>New</option>
								<option>Top</option>
								<option>Controversial</option>
							</select>
						</span>
					</p>
				</div>
				<div class="field" id="time">
					<label class="label info-label">Time</label>
					<p class="control">
						<span class="select">
							<select>
								<option>Hour</option>
								<option>Day</option>
								<option>Week</option>
								<option>Month</option>
								<option>Year</option>
								<option>All</option>
							</select>
						</span>
					</p>
				</div>
				<div class="field">
					<label class="label info-label"># of Posts</label>
					<p class="control">
						<input class="input" id="num" type="text" placeholder="1 - 100">
					</p>
				</div>
			</div>
		</div>
		<div id="options" class="columns">
			<div class="column">
				<p class="notification is-primary pane animated" id="txt">Text</p>
			</div>
			<div class="column">
				<p class="notification is-primary pane animated" id="pdf">PDF</p>
			</div>
		</div>
	</div>
	<footer class="text-center" id="footer">
		<h6 class="fa fa-info i" title="About" onclick="openNav()"></h6>
		<p class="footerp">&copy; 2017 JonLuca De Caro</p>
	</footer>
</body>
</html>