@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
	height: 100%;
}
body {
	font-family: 'Raleway', sans-serif;
	background: #56CCF2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #28A7EC, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #28A7EC, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	position: relative;
	min-height: 100%;
	flex: 1;
}
#title {
	color: white;
	font-size: 200%;
	padding-bottom: 5%;
	padding-top: 5%;
}
.modal-content {
	display: none;
}
#footer {
	color: white;  /* Height of the footer */
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
}
#options {
	width: 90%;
	margin: 0 auto;
}
#input {
	width: 50%;
	margin: 0 auto;
	padding-bottom: 5%;
}
.text-center {
	text-align: center;
}
.pane {
	background-color: #FFEA54 !important;
	text-align: center
}

.info-label{
	color: #FFEA54;
	display: inline;
}