@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
	height: 100%;
}
body {
	font-family: 'Raleway', sans-serif;
	background: #56CCF2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #28A7EC, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #28A7EC, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	position: relative;
	min-height: 100%;
	flex: 1;
}
#title {
	color: white;
	font-size: 200%;
	padding-bottom: 5%;
	padding-top: 5%;
}
#time{
	display: none;
}
.modal-content {
	display: none;
}
#footer {
	color: white;  /* Height of the footer */
	bottom: 0;
	width: 100%;
	display: inline;
	position: fixed;
}
#options {
	width: 40%;
	margin: 0 auto;
}
#input {
	width: 50%;
	margin: 0 auto;
	padding-bottom: 5%;
}
.text-center {
	text-align: center;
}
.pane {
	background-color: #FFEA54 !important;
	text-align: center;
	color: #29a7ec !important;
	cursor: pointer;
}
.info-label {
	color: #FFEA54;
	display: inline;
}
.dropdown {
	padding-top: 5%;
}

/*About sidenav*/
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: #28A7EC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #56CCF2, #28A7EC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #56CCF2, #28A7EC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.sidenav a {
	text-decoration: none;
	color: #FFEA54;
	transition: 0.3s;
}
.sidenav p {
	margin: 15px;
	color: white;
}
.sidenav a:hover, .offcanvas a:focus {
	color: #f1f1f1;
}
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.i {
	display: inline;
	float: left;
	margin-left: 20px;
	cursor: pointer;
}
.footerp {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}